
@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Matemasie&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.Main{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 50px; 
    width: 100%;
}
  .main_right {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    margin-left: 40px;
   
    z-index: 0;
  }
  .main_left {
    display: grid; 
    margin: 10px;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: "Inter" , sans-serif;
  
  }
  .main_middle{
    text-align: center;
    position:absolute;
    left: 250px;
    top: 700px; 
    font-family: "Inter" , sans-serif;  
}

  .page_bottom{
    position:absolute;
    left: 400px;
    top: 1100px; 
  
font-family: "Inter" , sans-serif;  
  text-align: left;
  }
  .green_text{
    position:absolute;
    left: 180px;
    top: 147px;
    color: lightgreen;
  }
  .menu_cards{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 20px; 
    width: 80%;
  }
  .category_cards{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 20px; 
   

    
  }
  .top_nav_bar{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr  ; 
    
    width: 30%;
    padding-left: 50px;
  }
  
  #main_nav{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 500px;
    width: 90%;
  }
  .top_right_icons{
    width: 20px;
    height: 20px;
  }
  .top_left_nav{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    
    font-family: "Poppins", sans-serif;
    align-items: left;
    text-decoration: none;
  }
  #special_dishes{
    display:inline-block;
    margin-right:10px;
  }
  #dishes_navigation_arrows{
    display:inline-block;
  }
.no_underline{
    text-decoration: none;
    color: black;
}
.circle{
    height: 250px;
    width: 250px;
    position:absolute;
    right: 180px;
    top: 100px; 
    background-color:  rgb(170, 240, 66);
    border-radius: 70%;
    display: inline-block;
    z-index: 0;
}

  #home_opt{
    color: rgb(170, 240, 66);
  }

#presentor_img{
    width: 400px;
    height: 240px;
margin-right: 150px;
z-index: 1;
}
#page_logo{
    height: 30px;
    width: 50px;
}
.spicy_text_box{
   position:absolute;
    right: 38%;
    top: 25%; 
}
#spicy_photo{
    right: 40%;
    top: 27%; 
    width: 40px;
    height: 20px;
  z-index: 1;  
}
#spicy_shape{
  
    height: 70px;
    width: 90px;
  z-index: 0; 
}
button {     
    background-color: Transparent;
    border-radius: 10px;
}
#logo_play{
    width: 10px;
    height: 10px;
}
.stars{
    list-style: none;
    width: 25px;
    height: 25px;
    align-items: left;
  
}
li{
    display: inline;
}
#recommendation_card_1{
    position:absolute;
    right: 150px;
    top: 400px; 
    text-align: center;
    font-family: "Inter" , sans-serif;

}
#recommendation_card_2{
    position:absolute;
    right: 400px;
    top: 400px; 
    text-align: center;
    font-family: "Inter" , sans-serif;
}
#page_logo{
    width: 100px;
    height:40px;
}
#salad_img{
    width: 100px;
    height:100px;
    border-radius: 5px;
}
#noodles_img{
    width: 100px;
    height:100px;
    border-radius: 5px;
}
#order_btn{
    width: 100px;
    height:40px;
    color: white;
    background-color: lightgreen;
    border-radius: 12px;
    border-color: transparent;
}

#play_btn{
    width: 60px;
    height:40px;
    border-radius: 20px;
    border-color: lightgray;
    
}
.btn_bar{
    display: inline;
}
#play_label{
    font-size: 15px;
}
.cat_imgs{
    width: 200px;
    height: 100px;
}
.red_title{
    color: red;
}
#category_card_1{
border-radius: 8px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}
#category_card_2{
border-radius: 8px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
#category_card_3{
border-radius: 8px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;;
}
#category_card_4{
border-radius: 8px;

box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

#menu_card_1{
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }
    #menu_card_2{
        
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }
    #menu_card_3{
       
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }
  #dishes_navigation_arrows{
    border-radius: 10px;

  }
 #green_btn{
 
    background-color: lightgreen;
    border-radius: 12px;
    border-color: transparent;
}
#special_dishes{
    font-size: 20px;
}
 
